@import './root.css';
@import './background.css';
@import './button.css';
@import './containers.css';
@import './table.css';
@import './card.css';
@import './form.css';
@import './modal.css';
@import './loading-skeleton.css';


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #f1f5f9;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

/* box shadow */
.onv-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}